.topo {
    width: 100%;
    font-size: 22px;
    font-family: sans-serif;
    background: #4710c1;
    color: #fff;
    padding: 20px 0;
}

.topo div {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.topo span {
    margin: 0 30px;
}

.topo a {
    color: #4710c1;
    background: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin: 0 6px;
    padding: 7px 15px;
    border-radius: 20px;
}

.secao{
    width:100%;
    max-width: 1024px;
    margin: 0 auto;
}

.secao h2{
    font-family: sans-serif;
    text-align: center;
    margin: 30px 0;
}

.secao p{
    width: 100%;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin: 12px 0;
}

.secao img {
    width:100%;
}

.secao a {
    color: blue;
}

.galeria {
    display: flex;
    overflow-x:scroll;
    margin: 0 auto 20px auto;
}

.galeria img{
    width:315px;
    margin: 10px;
}

.imagem-sombra{
    box-shadow: 10px 10px 10px #939393;
}

.informaçao{
    margin: 15px auto;
}

.rodape{
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    text-align: center;
    background:#4710c1;
    color:#fff;
    padding: 12px 0;
}